@import url(offset.css);
@import url(reset.css);
/*----------------
CONTAINER
----------------*/
.container{
    /* background-color: red; */
    max-width: 87.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .625rem;
    margin-bottom: .625rem;
}
.container:nth-child(2) > .row{
    height: 2.5rem;
}
.container:last-child > .row{
    height: 2.5rem;
}

/*----------------
MAIN
----------------*/
.row{
    display: flex;
    flex: wrap;
}
.row > div{
    padding: .625rem;
}
.col-1{
    background-color: #006cfa;
    width: calc(100% / 12);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-2{
    background-color: #006cfa;
    width: calc(100% / 12 * 2);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-5{
    background-color: #006cfa;
    width: calc(100% / 12 * 5);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-12{
    background-color: #006cfa;
    width: calc(100%);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-8{
    background-color: #006cfa;
    width: calc(100% / 12 * 8);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-6{
    background-color: #006cfa;
    width: calc(100% / 12 * 6);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.row1{
    display: flex;
    flex: wrap;
}
.nested{
    background-color: #00e165;
    border: .0625rem solid #006cfa;
    padding: .625rem;

}
.col-11{
    background-color: #006cfa;
    width: calc(100% / 12 * 11);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-10{
    background-color: #006cfa;
    width: calc(100% / 12 * 10);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-3{
    background-color: #006cfa;
    width: calc(100% / 12 * 3);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-9{
    background-color: #006cfa;
    width: calc(100% / 12 * 9);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-4{
    background-color: #006cfa;
    width: calc(100% / 12 * 4);
    text-align: center;
    color: white;
    border: .0625rem solid;
}
.col-7{
    background-color: #006cfa;
    width: calc(100% / 12 * 7);
    text-align: center;
    color: white;
    border: .0625rem solid;
}